@using Gsmu.Api.Data
@using Gsmu.Api.Data.School.Student
@using json = Newtonsoft.Json

@{

    var mi = Settings.Instance.GetMasterInfo();
    var mi3 = Settings.Instance.GetMasterInfo3();

    var enableAdditionalInformation = Settings.GetVbScriptBoolValue(mi3.RegDDExtraInfo);
    ViewBag.Title = "Settings &raquo; User Settings";
}

@section Head {    
    @Scripts.Render("~/Areas/Adm/Scripts/UserSettings/UserSettingsComponent.js")


    <script type="text/javascript">
        Ext.onReady(function() {
            var cmp = new UserSettingsComponent({
                containerId: 'user-settings-component-container',
                EnableAdditionalInformation: @Html.Json(enableAdditionalInformation),
                Titles: {
                    District: @Html.Json(mi.Field3Name),
                    School: @Html.Json(mi.Field2Name),
                    Grade: @Html.Json(mi.Field1Name),
                    Membership: @Html.Json(mi.Field4Name),
                },
                MembershipConfig: {
                    MembershipEnabled: @Html.Json(MembershipHelper.MembershipEnabled),
                    MemberLabel: @Html.Json(MembershipHelper.MemberLabel),
                    NonMemberLabel: @Html.Json(MembershipHelper.NonMemberLabel),
                    Special1Label: @Html.Json(MembershipHelper.Special1Label)
                }
            });
        });
    </script>
}

<div id="user-settings-component-container">

</div>