@{
var SurveyID="Answer"+ ViewBag.QuestionId;
var namecomment = "Comment" + ViewBag.QuestionId;
decimal total_respondent= 0;
decimal width = 0;
string label="";
}

<table width="596" border="0" cellspacing="2" cellpadding="0" bgcolor="#a5a5a5">
				<tbody><tr>
					<td align="center" bgcolor="#a5a5a5" valign="center" width="38"><font size="4" face="Arial, SunSans-Regular, sans-serif"><b>@ViewBag.No .</b></font></td>
					<td colspan="2" align="center" bgcolor="#e7e7e7" valign="bottom" width="386"><font size="2" face="Arial, SunSans-Regular, sans-serif"><b>@ViewBag.Label</b></font></td>
					<td bgcolor="#e7e7e7" width="81" align="center"><font size="2" color="#14375d" face="Arial, SunSans-Regular, sans-serif"><b>Number of Responses</b></font></td>
					<td bgcolor="#e7e7e7" width="81" align="center"><font size="2" color="#14375d" face="Arial, SunSans-Regular, sans-serif"><b>Response Ratio</b></font></td>
				</tr>
            @foreach(var choice in  ViewBag.ChoicesResult){
		                total_respondent = total_respondent+choice.No_of_Respondent; 
                         width = (200 * choice.Ratio)/100;
                         if(choice.Choice =="5")
                        {
                            label = "Strongly Agree";
                        }
                        else if(choice.Choice =="4")
                        {
                            label = " Agree";
                        }
                        else if(choice.Choice =="3")
                        {
                            label = " No Opinion";
                        }
                        else if(choice.Choice =="2")
                        {
                            label = " Disagree";
                        }
                        else if(choice.Choice =="1")
                        {
                            label = "Strongly Disagree";
                        }
					<tr height="18">
						<td colspan="2" align="right" valign="middle" bgcolor="white" width="209" height="18"><font size="2" face="Arial, SunSans-Regular, sans-serif">@label &nbsp;</font></td>
						<td align="left" valign="middle" bgcolor="white" width="215" height="18"><table height="9" bgcolor="FF3333" width="0"><tbody><tr><td width="@width"></td></tr></tbody></table></td>
						<td bgcolor="white" width="81" height="18" align="center"><font size="2" face="Arial, SunSans-Regular, sans-serif">@choice.No_of_Respondent</font></td>
						<td bgcolor="white" width="81" height="18" align="center"><font size="2" face="Arial, SunSans-Regular, sans-serif">@choice.Ratio%</font></td>
					</tr>
			}
			
						<tr>
					<td colspan="3" align="right" bgcolor="white" width="426"><font face="Arial, SunSans-Regular, sans-serif"><font size="2" color="#14375d"><b>Total</b></font></font></td>
					<td bgcolor="white" width="81">
						<div align="center">
							<font size="2" face="Arial, SunSans-Regular, sans-serif">@total_respondent</font></div>
					</td>
					<td bgcolor="white" width="81">
						<div align="center">
							<font size="2" face="Arial, SunSans-Regular, sans-serif">100%</font></div>
					</td>
				</tr>
				<tr height="4">
					<td bgcolor="#a5a5a5" width="38" height="4"></td>
					<td bgcolor="#a5a5a5" width="171" height="4"></td>
					<td bgcolor="#a5a5a5" width="215" height="4"></td>
					<td bgcolor="#a5a5a5" width="81" height="4"></td>
					<td bgcolor="#a5a5a5" width="81" height="4"></td>
				</tr>
			</tbody></table>